ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size:15px;
}

li {
  float: left;
}

body{height:100%;
   width:100%;
   background-image: url("shades-of-grey-mountains-shams.jpg");  
   background-repeat:no-repeat; 
   background-size:cover; 
      
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.image.jpg',sizingMethod='scale');
   -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image.jpg',sizingMethod='scale')";
}


.rightt {
  
  position: absolute;
  top: 160px;
  left: 5px;
  
}

.embed {
  
  position: absolute;
  top: 140px;
  left: 150px;
  
  
}

.LogOut{
  
  position: absolute;
  top: 70px;
  left: 1675px;
  
}

li:last-child {
  border-right: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.activee {
  background-color: #3333ff;
}